.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.file-caption-main {
  width: 100%;
}

.file-caption-name {
  box-shadow: none;
  border-color: initial;
  background-image: initial;
  background-color: initial;
  outline-color: initial;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  background: 0 0;
  outline: 0;
  padding: 0 18px;
}

.btn-file input[type='file'] {
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  opacity: 0;
  background: 0 0;
  cursor: inherit;
  display: block;
}

.btn-file input[type='file'],
.file-caption-icon {
  position: absolute;
  margin-top: 3px;
  color: #ccc;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.file-caption-name {
  cursor: pointer;
}

.btn.btn-primary.btn-file {
  cursor: pointer !important;
}

input.file-ref {
  margin-top: 0 !important;
  pointer-events: none;
}

.input-group-btn.input-group-append {
  overflow: hidden;
  cursor: pointer;
}
